.Banner {
  background-image: url("../../../images/Banner_Home.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 7em;
    color: white;
  }
}
