.Review {
  .image-responsive img {
    max-width: 50%;
  }

  .technicalDetails {
    background-color: orange;
    display: flex;

    > div {
      padding: 20% 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .mainParagraph {
    padding: 40px 10% 40px 5%;
  }
}
