@import "../../../../variables";

.WorkBox {
  padding: 25px;

  .box {
    padding: 25px 25px 0 25px;
    border-radius: 20px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    span.subject {
      color: white;
      font-size: 1em;
    }

    h2 {
      &.title.with-subject {
        color: white;
        cursor: pointer;
        margin-bottom: 0;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }

      a {
        color: inherit;
      }
    }
  }
}
