.Footer {
  .footer-columns > div > div {
    padding-right: 50px;
  }

  .section-padding {
    padding: 5% 10% 0 10%;
  }

  .row-displayed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      padding: 5px;
    }
  }

  .icon-items {
    .fa-facebook {
      margin-right: 40px;
    }

    i {
      font-size: 1.4em;
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;

      a {
        color: inherit;
      }
    }
  }
}
