.Footer {
  .footer-columns > div > div {
    padding-right: 50px;
  }

  .section-padding {
    padding: 5% 10% 0 10%;
  }

  .row-displayed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      padding: 5px;
    }
  }
}
