@import "./fonts/fonts.scss";

.title {
  font-family: $yeseva;
  font-weight: 400;
}

.subtitle {
  font-family: $poppins;
  font-weight: 600;

  i,
  .italic {
    font-family: $poppins;
    font-style: italic;
  }
}

.content {
  font-family: $poppins;
  font-weight: 400;

  i,
  .italic {
    font-family: $poppins;
    font-weight: 400;
    font-style: italic;
  }
}
