@import "./fonts/fonts.scss";

h1 {
  font-size: 3em;

  &.with-subject {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0;

  &.small {
    font-size: 0.8em;
  }
}

.small-size {
  font-size: 0.8em;
}

button {
  background: none;
  border: none;
  padding: 0;

  &.link-btn {
    font-family: $poppins;
    font-weight: 600;
  }
}

span.subject {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.title {
  font-family: $yeseva;
  font-weight: 400;
}

.subtitle {
  font-family: $poppins;
  font-weight: 600;

  i,
  .italic {
    font-family: $poppins;
    font-style: italic;
  }
}

.subject {
  font-family: $poppins;
  font-weight: 600;
}

.content {
  font-family: $poppins;
  font-weight: 400;

  i,
  .italic {
    font-family: $poppins;
    font-weight: 400;
    font-style: italic;
  }
}

.justified {
  text-align: justify;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.s1em {
  font-size: 1em;
}

.underlined {
  text-decoration: underline;
}

.section-padding {
  padding: 8% 10%;
}

.image-responsive {
  max-width: 100%;
  max-height: 100%;
}
