@import "globals.scss";

$black: #1f2532;
$orange: #fc643f;
$light-blue: #8ab9dd;
$green: #06c48c;
$yellow: #ffd05d;
$pink: #ff657d;
$magenta: #cb1d5b;

.black {
  color: $black;
}

.black-bg {
  background-color: $black;
}

.orange {
  color: $orange;
}

.orange-bg {
  background-color: $orange;
}

.light-blue {
  color: $light-blue;
}

.light-blue-bg {
  background-color: $light-blue;
}

.green {
  color: $green;
}

.green-bg {
  background-color: $green;
}

.yellow {
  color: $yellow;

  &.bottom-shadow {
    box-shadow: 0 4px 0 -2px $yellow;
  }
}

.yellow-bg {
  background-color: $yellow;
}

.pink {
  color: $pink;
}

.pink-bg {
  background-color: $pink;
}

.magenta {
  color: $magenta;
}

.magenta-bg {
  background-color: $magenta;
}
