// Poppings Regular
@font-face {
  font-family: "Poppins Rg";
  src: url("./Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// Poppings Italic
@font-face {
  font-family: "Poppins Rg i";
  src: url("./Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

// Poppins SemiBold
@font-face {
  font-family: "Poppins Sb";
  src: url("./Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

// Poppins SemiBold Italic
@font-face {
  font-family: "Poppins Sb i";
  src: url("./Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: italic;
}

$poppins-regular: "Poppins Rg";
$poppins-regular-italic: "Poppins Rg i";
$poppins-semibold: "Poppins Poppins Sb";
$poppins-semibold-italic: "Poppins Sb i";
